/* Taken from: https://github.com/Textualize/textual/blob/main/examples/dictionary.css */

Screen {
    background: $panel;
}

Input {
    dock: top;
    margin: 1 0;
}

Input.-valid {
    border: tall $success 60%;
}
Input.-valid:focus {
    border: tall $success;
}

#results {
    width: 100%;
    height: 100%;
}

/*
#results-container {
    background: $background 50%;
    margin: 0 0 1 0;
    height: 100%;
    overflow: hidden auto;
    border: tall $background;
}

#results-container:focus {
    border: tall $accent;
}
*/

#results:focus {
    border: tall $accent;
}

#spinner {
    align: center middle;
}